<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="pxw-dev.ZPM">
    <Module>
      <Name>pxw-dev</Name>
      <Version>1.0.0</Version>
      <Description>PXW Development tools</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="PXW.DEV.PKG"/>
      <Resource Name="PXW.Xref.PKG"/>
      <Resource Name="PXW.Tools.PKG"/>
      <UnitTest Name="/tests" Package="PXW.DEV.UnitTests" Phase="test"/>
    </Module>
  </Document>
</Export>
